<section id="get-started" class="get-started">
  <div class="container get-started__container">
    <div class="get-started__form-wrapper">
      <h3 class="get-started__form-title heading-h4">
        Let’s level up your brand
      </h3>
      <p class="get-started__form-text text-p-medium">
        You can reach us anytime
        <a
          href="mailto:hellosansbrothers@gmail.com"
          class="get-started__form-link"
        >
          hellosansbrothers@gmail.com
        </a>
      </p>
      <form class="get-started__form" id="get-started__form">
        <div class="get-started__form-top">
          <label class="get-started__form-label">
            <span
              class="get-started__form-label-text text-p-small"
              id="firstNameText"
            >
              First name
            </span>
            <input
              type="text"
              class="get-started__form-input text-p-small get-started__form-input--small"
              name="firstName"
              id="firstName"
              maxlength="30"
              placeholder="First name"
            />
          </label>
          <label class="get-started__form-label text-p-small">
            <span
              class="get-started__form-label-text text-p-small"
              id="lastNameText"
            >
              Last name
            </span>
            <input
              type="text"
              class="get-started__form-input text-p-small get-started__form-input--small"
              name="lastName"
              id="lastName"
              placeholder="Last name"
            />
          </label>
        </div>
        <label class="get-started__form-label text-p-small">
          <span
            class="get-started__form-label-text text-p-small"
            id="emailText"
          >
            Email
          </span>
          <input
            type="email"
            class="get-started__form-input text-p-small"
            name="email"
            maxlength="50"
            id="email"
            placeholder="you@company.com"
          />
        </label>
        <label class="get-started__form-label text-p-small">
          <span
            class="get-started__form-label-text text-p-small"
            id="phoneText"
          >
            Phone number
          </span>
          <input
            id="phone"
            type="tel"
            maxlength="40"
            class="get-started__form-input text-p-small"
            name="phone"
            pattern="(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?"
          />
        </label>
        <label class="get-started__form-label text-p-small">
          <span
            class="get-started__form-label-text text-p-small"
            id="textareaText"
          >
            Message
          </span>
          <textarea
            type="text"
            class="get-started__form-input get-started__form-input--textarea text-p-small"
            name="message"
            maxlength="250"
            id="textarea"
            placeholder="Leave us a message..."
          ></textarea>
        </label>
        <button class="get-started__form-btn button-form" type="submit">
          Get Started
        </button>
      </form>
    </div>
    <img
      loading="lazy"
      class="get-started__img"
      src="./assets/images/getStarted.jpg"
      width="987"
      height="885"
      alt="A woman and a man high-five each other"
    />
  </div>
</section>
