<section class="about-hero">
  <div class="container">
    <h2 class="about-hero__title heading-h1">
      Everything you need to get the attention of your audience
    </h2>
    <div class="about-hero__text-container">
      <p class="about-hero__text text-p-subtitle">
        Our digital agency helps clients develop, implement and maintain
        successful digital marketing strategies across all channels. Also work
        with you to build your website and create online businesses that grow.
      </p>
      <div class="about-hero__get-in-touch">
        <p class="about-hero__get-in-touch-text">
          get in touch get in touch get in touch
        </p>
        <svg
          width="59"
          height="59"
          viewBox="0 0 59 59"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="15.0284"
            y="46.4426"
            width="3.85427"
            height="41.4334"
            transform="rotate(-135 15.0284 46.4426)"
            fill="#161A34"
          />
          <rect
            x="17.8915"
            y="17.9634"
            width="3.85427"
            height="26.9799"
            transform="rotate(-90 17.8915 17.9634)"
            fill="#161A34"
          />
          <rect
            x="44.8912"
            y="41.1089"
            width="3.85427"
            height="26.9799"
            transform="rotate(180 44.8912 41.1089)"
            fill="#161A34"
          />
        </svg>
      </div>
    </div>
    <div class="about-hero__swiper swiper">
      <div class="about-hero__swiper-wrapper swiper-wrapper">
        <div class="about-hero__swiper-slide swiper-slide">
          <img
            loading="lazy"
            class="about-hero__swiper-slide-img"
            src="../../../assets/images/about_slide_1_img.jpg"
            alt="somebody typing on a laptop in an office"
            width="502"
            height="629"
          />
        </div>
        <div class="about-hero__swiper-slide swiper-slide">
          <img
            loading="lazy"
            class="about-hero__swiper-slide-img"
            src="../../../assets/images/about_slide_2_img.jpg"
            alt="colleagues applaud during a presentation in the office"
            width="502"
            height="370"
          />
          <div class="about-hero__swiper-slide-text-container">
            <h4 class="about-hero__swiper-slide-title">What we believe in</h4>
            <p class="about-hero__swiper-slide-text">
              Over the years at Sans, we’ve put a lot of thought into what it is
              that makes us who we are. The qualities that unite us, that make
              us such an effective team, and...
            </p>
            <a href="#" class="about-hero__swiper-slide-link">See Details</a>
          </div>
          <div class="about-hero__swiper-slide swiper-slide">
            <img
              loading="lazy"
              class="about-hero__swiper-slide-img"
              src="../../../assets/images/about_slide_3_img.jpg"
              alt="two women are watching somethin on a laptop"
              width="502"
              height="460"
            />
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
