<section class="about-hero">
  <div class="container">
    <h2 class="about-hero__title heading-h1">
      Everything you need to get the attention of your audience
    </h2>
    <div class="about-hero__text-container">
      <p class="about-hero__text text-p-subtitle">
        Our digital agency helps clients develop, implement and maintain
        successful digital marketing strategies across all channels. Also work
        with you to build your website and create online businesses that grow.
      </p>
      <div class="about-hero__get-in-touch">
        <p class="about-hero__get-in-touch-text">
          get in touch get in touch get in touch
        </p>
        <a href="contact.html">
          <svg
            width="59"
            height="59"
            viewBox="0 0 59 59"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="15.0284"
              y="46.4426"
              width="3.85427"
              height="41.4334"
              transform="rotate(-135 15.0284 46.4426)"
              fill="#161A34"
            />
            <rect
              x="17.8915"
              y="17.9634"
              width="3.85427"
              height="26.9799"
              transform="rotate(-90 17.8915 17.9634)"
              fill="#161A34"
            />
            <rect
              x="44.8912"
              y="41.1089"
              width="3.85427"
              height="26.9799"
              transform="rotate(180 44.8912 41.1089)"
              fill="#161A34"
            />
          </svg>
        </a>
      </div>
    </div>
    <div class="about-hero__swiper swiper">
      <div class="about-hero__swiper-wrapper swiper-wrapper">
        <div class="about-hero__swiper-slide swiper-slide">
          <img
            loading="lazy"
            class="about-hero__swiper-slide-img"
            src="./assets/images/about-slide-1-img.jpg"
            alt="somebody typing on a laptop in an office"
            width="502"
            height="629"
          />
        </div>
        <div class="about-hero__swiper-slide swiper-slide">
          <img
            loading="lazy"
            class="about-hero__swiper-slide-img"
            src="./assets/images/about-slide-2-img.jpg"
            alt="colleagues applaud during a presentation in the office"
            width="502"
            height="370"
          />
          <div class="about-hero__swiper-slide-text-container">
            <h4 class="about-hero__swiper-slide-title">What we believe in</h4>
            <p class="about-hero__swiper-slide-text">
              Over the years at Sans, we’ve put a lot of thought into what it is
              that makes us who we are. The qualities that unite us, that make
              us such an effective team, and...
            </p>
            <a href="blog.html" class="about-hero__swiper-slide-link"
              >See Details</a
            >
          </div>
        </div>
        <div class="about-hero__swiper-slide swiper-slide">
          <img
            loading="lazy"
            class="about-hero__swiper-slide-img-3"
            src="./assets/images/about-slide-3-img.jpg"
            alt="two women are watching somethin on a laptop"
            width="506"
            height="460"
          />
        </div>
        <div class="about-hero__swiper-slide swiper-slide">
          <img
            loading="lazy"
            class="about-hero__swiper-slide-img"
            src="./assets/images/about-slide-1-img.jpg"
            alt="somebody typing on a laptop in an office"
            width="502"
            height="629"
          />
        </div>
        <div class="about-hero__swiper-slide swiper-slide">
          <img
            loading="lazy"
            class="about-hero__swiper-slide-img"
            src="./assets/images/about-slide-2-img.jpg"
            alt="colleagues applaud during a presentation in the office"
            width="502"
            height="370"
          />
          <div class="about-hero__swiper-slide-text-container">
            <h4 class="about-hero__swiper-slide-title">What we believe in</h4>
            <p class="about-hero__swiper-slide-text">
              Over the years at Sans, we’ve put a lot of thought into what it is
              that makes us who we are. The qualities that unite us, that make
              us such an effective team, and...
            </p>
            <a href="#" class="about-hero__swiper-slide-link">See Details</a>
          </div>
        </div>
        <div class="about-hero__swiper-slide swiper-slide">
          <img
            loading="lazy"
            class="about-hero__swiper-slide-img-3"
            src="./assets/images/about-slide-3-img.jpg"
            alt="two women are watching somethin on a laptop"
            width="506"
            height="460"
          />
        </div>
        <div class="nav-imitation">
          <svg
            width="28"
            height="18"
            viewBox="0 0 28 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.0001 2.33325L25.6667 8.99992L19.0001 15.6666M9.00008 15.6666L2.33341 8.99992L9.00008 2.33325"
              stroke="#1D1E25"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <div class="about-hero__swiper-pagination swiper-pagination"></div>
      <div class="about-hero__swiper-scrollbar swiper-scrollbar"></div>
    </div>
  </div>
</section>
