<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title text-p-medium">
      <span class="partners__title-num heading-h2">890+</span>
      some big companies that we work with, and trust us very much
    </h2>
      <!-- дефолтный список -->
      <ul class="partners__list">
        <li class="partners__item">
          <img
            loading="lazy"
            src="./assets/icons/partners/airbnb-icon.svg"
            class="partners__img"
            width="97"
            height="30"
            alt="airbnb logo icon"
          />
        </li>
        <li class="partners__item">
          <img
            loading="lazy"
            src="./assets/icons/partners/amazon-icon.svg"
            class="partners__img"
            width="97"
            height="30"
            alt="amazon logo icon"
          />
        </li>
        <li class="partners__item">
          <img
            loading="lazy"
            src="./assets/icons/partners/fedex-icon.svg"
            class="partners__img"
            width="96"
            height="30"
            alt="fedex logo icon"
          />
        </li>
        <li class="partners__item">
          <img
            loading="lazy"
            src="./assets/icons/partners/microsoft-icon.svg"
            class="partners__img"
            width="116"
            height="26"
            alt="microsoft logo icon"
          />
        </li>
        <li class="partners__item">
          <img
            loading="lazy"
            src="./assets/icons/partners/google-icon.svg"
            class="partners__img"
            width="91"
            height="30"
            alt="google logo icon"
          />
        </li>
        <li class="partners__item">
          <img
            loading="lazy"
            src="./assets/icons/partners/ola-icon.svg"
            class="partners__img"
            width="94"
            height="32"
            alt="ola logo icon"
          />
        </li>
        <li class="partners__item">
          <img
            loading="lazy"
            src="./assets/icons/partners/walmart-icon.svg"
            class="partners__img"
            width="114"
            height="28"
            alt="walmart logo icon"
          />
        </li>
        <li class="partners__item">
          <img
            loading="lazy"
            src="./assets/icons/partners/oyo-icon.svg"
            class="partners__img"
            width="80"
            height="28"
            alt="oyo logo icon"
          />
        </li>
      </ul>

      <!-- список для свайпера -->
      <div class="partners__slider swiper-container">
        <ul class="partners__slider-list swiper-wrapper">
          <li class="partners__slider-list-item swiper-slide">
            <img
              loading="lazy"
              src="./assets/icons/partners/airbnb-icon.svg"
              class="partners__img"
              width="97"
              height="30"
              alt="airbnb logo icon"
            />
          </li>
          <li class="partners__slider-list-item swiper-slide">
            <img
              loading="lazy"
              src="./assets/icons/partners/amazon-icon.svg"
              class="partners__img"
              width="97"
              height="30"
              alt="amazon logo icon"
            />
          </li>
          <li class="partners__slider-list-item swiper-slide">
            <img
              loading="lazy"
              src="./assets/icons/partners/fedex-icon.svg"
              class="partners__img"
              width="96"
              height="30"
              alt="fedex logo icon"
            />
          </li>
          <li class="partners__slider-list-item swiper-slide">
            <img
              loading="lazy"
              src="./assets/icons/partners/microsoft-icon.svg"
              class="partners__img"
              width="116"
              height="26"
              alt="microsoft logo icon"
            />
          </li>
          <li class="partners__slider-list-item swiper-slide">
            <img
              loading="lazy"
              src="./assets/icons/partners/google-icon.svg"
              class="partners__img"
              width="91"
              height="30"
              alt="google logo icon"
            />
          </li>
          <li class="partners__slider-list-item swiper-slide">
            <img
              loading="lazy"
              src="./assets/icons/partners/ola-icon.svg"
              class="partners__img"
              width="94"
              height="32"
              alt="ola logo icon"
            />
          </li>
          <li class="partners__slider-list-item swiper-slide">
            <img
              loading="lazy"
              src="./assets/icons/partners/walmart-icon.svg"
              class="partners__img"
              width="114"
              height="28"
              alt="walmart logo icon"
            />
          </li>
          <li class="partners__slider-list-item swiper-slide">
            <img
              loading="lazy"
              src="./assets/icons/partners/oyo-icon.svg"
              class="partners__img"
              width="80"
              height="28"
              alt="oyo logo icon"
            />
          </li>
        </ul>
      </div>
    </div>  
    </div>
  </div>
</section>
