<section class="articles">
  <div class="container">
    <div class="articles__header">
      <h3 class="articles__header-title heading-h2">Articles</h3>
      <p class="articles__header-subtitle text-p-medium">
        Complex tech decoded by engineers, business trends analyzed by experts.
      </p>
    </div>
    <div class="articles__swiper-container">
      <div class="articles__swiper-buttons-block">
        <button
          class="articles__swiper-button articles__swiper-button--prev swiper-button-prev"
        >
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
        <button
          class="articles__swiper-button articles__swiper-button--next swiper-button-next"
        >
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
      </div>
      <div class="articles__swiper swiper">
        <div class="articles__swiper-wrapper swiper-wrapper">
          <div
            class="articles__swiper-wrapper-slide articles__swiper-wrapper-slide--1 swiper-slide"
          >
            <img
              class="articles__swiper-wrapper-slide-img"
              loading="lazy"
              width="435"
              height="669"
              src="./assets/images/articles-img-1.jpg"
              alt="A young man and a woman are working together on some kind of project"
            />
            <h5 class="articles__swiper-wrapper-slide-title">
              List of UX Designer Portfolio / Case Studies where you can make
              money
            </h5>
            <p class="articles__swiper-wrapper-slide-text text-p-medium">
              Here are some portfolios / Case Studies from UX Designers that you
              can use as a reference for creating a portfolio. Two interesting
              things from their portfolio are:
            </p>
            <a class="articles__swiper-wrapper-slide-link" href="#"
              >Read More</a
            >
          </div>
          <div
            class="articles__swiper-wrapper-slide articles__swiper-wrapper-slide--2 swiper-slide"
          >
            <img
              class="articles__swiper-wrapper-slide-img"
              loading="lazy"
              width="406"
              height="329"
              src="./assets/images/articles-img-2.jpg"
              alt="A man and a woman give each other a high five in the office"
            />
            <h5 class="articles__swiper-wrapper-slide-title">
              Skyrocketing in The Designing Career, Why Not?
            </h5>
            <p class="articles__swiper-wrapper-slide-text text-p-medium">
              Ever thought of jumping into the world of design as a career? If
              not, you may want to look at what the word ‘design’ actually
              means. Design is a method of designing aesthetic actions that are
              carried out.
            </p>
            <a class="articles__swiper-wrapper-slide-link" href="#"
              >Read More</a
            >
          </div>
          <div
            class="articles__swiper-wrapper-slide articles__swiper-wrapper-slide--3 swiper-slide"
          >
            <img
              class="articles__swiper-wrapper-slide-img"
              loading="lazy"
              width="476"
              height="695"
              src="./assets/images/articles-img-3.jpg"
              alt="A man and a woman give each other a high five in the office"
            />
            <h5 class="articles__swiper-wrapper-slide-title">
              Elements that may be missed when designing the UI
            </h5>
            <p class="articles__swiper-wrapper-slide-text text-p-medium">
              This is an article that talks about the little elements that are
              often overlooked when designing UI.
            </p>
            <a class="articles__swiper-wrapper-slide-link" href="#"
              >Read More</a
            >
          </div>
          <div
            class="articles__swiper-wrapper-slide articles__swiper-wrapper-slide--1 swiper-slide"
          >
            <img
              class="articles__swiper-wrapper-slide-img"
              loading="lazy"
              width="435"
              height="669"
              src="./assets/images/articles-img-1.jpg"
              alt="A young man and a woman are working together on some kind of project"
            />
            <h5 class="articles__swiper-wrapper-slide-title">
              List of UX Designer Portfolio / Case Studies where you can make
              money
            </h5>
            <p
              class="articles__swiper-wrapper-slide-import Swiper from 'swiper'; import { Navigation } from 'swiper/modules'; export const useActivityHeroSwiper = () => { new Swiper('.activity-updates__hero-swiper', { modules: [Navigation], direction: 'horizontal', slidesPerView: 2.5, spaceBetween: 32, loop: true, pagination: { el: '.activity-updates__hero-swiper-pagination', }, scrollbar: { el: '.activity-updates__hero-swiper-scrollbar', }, // breakpoints: { // 993: { // slidesPerView: 2.5, // }, // 767: { // slidesPerView: 2, // }, // 577: { // slidesPerView: 2, // }, // 0: { // slidesPerView: 1, // }, // }, }); }; text text-p-medium"
            >
              Here are some portfolios / Case Studies from UX Designers that you
              can use as a reference for creating a portfolio. Two interesting
              things from their portfolio are:
            </p>
            <a class="articles__swiper-wrapper-slide-link" href="#"
              >Read More</a
            >
          </div>
          <div
            class="articles__swiper-wrapper-slide articles__swiper-wrapper-slide--2 swiper-slide"
          >
            <img
              class="articles__swiper-wrapper-slide-img"
              loading="lazy"
              width="406"
              height="329"
              src="./assets/images/articles-img-2.jpg"
              alt="A man and a woman give each other a high five in the office"
            />
            <h5 class="articles__swiper-wrapper-slide-title">
              Skyrocketing in The Designing Career, Why Not?
            </h5>
            <p class="articles__swiper-wrapper-slide-text text-p-medium">
              Ever thought of jumping into the world of design as a career? If
              not, you may want to look at what the word ‘design’ actually
              means. Design is a method of designing aesthetic actions that are
              carried out.
            </p>
            <a class="articles__swiper-wrapper-slide-link" href="#"
              >Read More</a
            >
          </div>
          <div
            class="articles__swiper-wrapper-slide articles__swiper-wrapper-slide--3 swiper-slide"
          >
            <img
              class="articles__swiper-wrapper-slide-img"
              loading="lazy"
              width="476"
              height="695"
              src="./assets/images/articles-img-3.jpg"
              alt="A man and a woman give each other a high five in the office"
            />
            <h5 class="articles__swiper-wrapper-slide-title">
              Elements that may be missed when designing the UI
            </h5>
            <p class="articles__swiper-wrapper-slide-text text-p-medium">
              This is an article that talks about the little elements that are
              often overlooked when designing UI.
            </p>
            <a class="articles__swiper-wrapper-slide-link" href="#"
              >Read More</a
            >
          </div>
        </div>

        <div class="articles__swiper-pagination swiper-pagination"></div>
        <div class="articles__swiper-scrollbar swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</section>
