<section class="content">
  <div class="container">
    <ul class="content__list">
      <li class="content__list-item">
        <img
          class="content__list-item-img"
          src="./assets/images/content_img_1.jpg"
          alt="a laptop on the desk and a comfortable chair in an office"
          loading="lazy"
          width="584"
          height="751"
        />
        <h4 class="content__list-item-title">
          How we perform long-running tasks using AWS services
        </h4>
        <p class="content__list-item-text text-p-default">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </li>
      <li class="content__list-item">
        <img
          class="content__list-item-img"
          src="./assets/images/content_img_2.jpg"
          alt="three men are having a conversation in an office"
          loading="lazy"
          width="584"
          height="507"
        />
        <h4 class="content__list-item-title">
          How to ask when doing User Research
        </h4>
        <p class="content__list-item-text text-p-default">
          Bro, the story is that you want to make an application for buying and
          selling goods on the market. During user research, what do you think
          you will ask people?
        </p>
      </li>
      <li class="content__list-item">
        <img
          class="content__list-item-img"
          src="./assets/images/content_img_3.jpg"
          alt="a man in a black jacket is in an office talking about something with his coworkers"
          loading="lazy"
          width="584"
          height="507"
        />
        <h4 class="content__list-item-title">
          Layout Exploration — Simple exercise but big effect
        </h4>
        <p class="content__list-item-text text-p-default">
          Make alternatives or other options for the design we are making. For
          example, we are creating a website design. Then there is the
          testimonial section.
        </p>
      </li>
      <li class="content__list-item content__list-item--4">
        <img
          class="content__list-item-img"
          src="./assets/images/content_img_4.jpg"
          alt="an asian man in a dark gray constume make a presentation in front of colleagues"
          loading="lazy"
          width="584"
          height="751"
        />
        <h4 class="content__list-item-title">
          Webflow Break the Coding Barrier
        </h4>
        <p class="content__list-item-text text-p-default">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </li>
    </ul>
  </div>
</section>
