<section class="activity-updates">
  <div class="container">
    <section class="activity-updates__hero hero-decor">
      <h2 class="activity-updates__hero-title heading-h1">
        Activity & Updates
      </h2>
      <p class="activity-updates__hero-text text-p-subtitle">
        Our biggest challenge is making sure we're always designing and building
        products that will help you run your business better.
      </p>
      <ul class="activity-updates__hero-list">
        <li class="activity-updates__hero-list-item">View all</li>
        <li class="activity-updates__hero-list-item">Design</li>
        <li class="activity-updates__hero-list-item">Articles</li>
        <li class="activity-updates__hero-list-item">Product</li>
        <li class="activity-updates__hero-list-item">Software Development</li>
        <li class="activity-updates__hero-list-item">Customer Success</li>
      </ul>
      <div class="activity-updates__hero-swiper swiper">
        <div class="activity-updates__hero-swiper-wrapper swiper-wrapper">
          <div class="activity-updates__hero-swiper-slide swiper-slide">
            <img
              class="activity-updates__hero-swiper-slide-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/images/activity-swiper-1-img.jpg"
              alt="a smiling blonde woman in an office in a red cardigan and a grey T-shirt  "
            />
            <div class="activity-updates__hero-swiper-slide-date">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by: Albert Sans</span>
            </div>
            <span class="activity-updates__hero-swiper-slide-title">
              Practice making User Flow
            </span>
            <p class="activity-updates__hero-swiper-slide-text">
              In this article, we'll cover how to create user flows
            </p>
          </div>

          <div class="activity-updates__hero-swiper-slide swiper-slide">
            <img
              class="activity-updates__hero-swiper-slide-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/images/activity-swiper-2-img.jpg"
              alt="a smiling blonde woman in an office in a red cardigan and a grey T-shirt  "
            />
            <div class="activity-updates__hero-swiper-slide-date">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by: Albert Sans</span>
            </div>
            <span class="activity-updates__hero-swiper-slide-title">
              Overview of the Design Principles
            </span>
            <p class="activity-updates__hero-swiper-slide-text">
              What are Design Principles?… To understand design principles, we
              first discuss the principles.
            </p>
          </div>

          <div
            class="activity-updates__hero-swiper-slide swiper-slide activity-updates__hero-swiper-slide--3"
          >
            <img
              class="activity-updates__hero-swiper-slide-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/images/activity-swiper-3-img.jpg"
              alt="a smiling blonde woman in an office in a red cardigan and a grey T-shirt  "
            />
            <div class="activity-updates__hero-swiper-slide-date">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by: Albert Sans</span>
            </div>
            <span class="activity-updates__hero-swiper-slide-title">
              Practice making User Flow
            </span>
            <p class="activity-updates__hero-swiper-slide-text">
              In this article, we'll cover how to create user flows
            </p>
          </div>

          <div class="activity-updates__hero-swiper-slide swiper-slide">
            <img
              class="activity-updates__hero-swiper-slide-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/images/activity-swiper-1-img.jpg"
              alt="a smiling blonde woman in an office in a red cardigan and a grey T-shirt  "
            />
            <div class="activity-updates__hero-swiper-slide-date">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by: Albert Sans</span>
            </div>
            <span class="activity-updates__hero-swiper-slide-title">
              Practice making User Flow
            </span>
            <p class="activity-updates__hero-swiper-slide-text">
              In this article, we'll cover how to create user flows
            </p>
          </div>

          <div class="activity-updates__hero-swiper-slide swiper-slide">
            <img
              class="activity-updates__hero-swiper-slide-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/images/activity-swiper-2-img.jpg"
              alt="a smiling blonde woman in an office in a red cardigan and a grey T-shirt  "
            />
            <div class="activity-updates__hero-swiper-slide-date">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by: Albert Sans</span>
            </div>
            <span class="activity-updates__hero-swiper-slide-title">
              Overview of the Design Principles
            </span>
            <p class="activity-updates__hero-swiper-slide-text">
              What are Design Principles?… To understand design principles, we
              first discuss the principles.
            </p>
          </div>

          <div
            class="activity-updates__hero-swiper-slide swiper-slide activity-updates__hero-swiper-slide--3"
          >
            <img
              class="activity-updates__hero-swiper-slide-img"
              loading="lazy"
              width="515"
              height="428"
              src="./assets/images/activity-swiper-3-img.jpg"
              alt="a smiling blonde woman in an office in a red cardigan and a grey T-shirt  "
            />
            <div class="activity-updates__hero-swiper-slide-date">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by: Albert Sans</span>
            </div>
            <span class="activity-updates__hero-swiper-slide-title">
              Practice making User Flow
            </span>
            <p class="activity-updates__hero-swiper-slide-text">
              In this article, we'll cover how to create user flows
            </p>
          </div>

          <div class="nav-imitation">
            <svg
              width="28"
              height="18"
              viewBox="0 0 28 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.0001 2.33325L25.6667 8.99992L19.0001 15.6666M9.00008 15.6666L2.33341 8.99992L9.00008 2.33325"
                stroke="#7e8492"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div
          class="activity-updates__hero-swiper-pagination swiper-pagination"
        ></div>
        <div
          class="activity-updates__hero-swiper-scrollbar swiper-scrollbar"
        ></div>
      </div>
    </section>
  </div>
</section>
