.about-hero {
  padding-top: 106px;

  @include small-tablet {
    padding-top: 60px;
  }

  @include mobile {
    padding-top: 40px;
  }

  &__title {
    max-width: 959px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include mobile {
      text-align: center;
    }
  }

  &__text-container {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 118px;
    gap: 174px;

    @include mini-desktop {
      gap: 80px;
    }

    @include small-tablet {
      padding-top: 40px;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  }

  &__text {
    max-width: 790px;
    font-weight: 600;
    font-size: 32px;
    line-height: 131%;
    letter-spacing: -0.03em;
    color: var(--neutral-color-100);

    &::before {
      transform: translateY(-85px);
      width: 350px;
    }

    @include small-tablet {
      font-size: 24px;
    }

    @include mobile {
      font-size: 18px;
      text-align: center;
    }
  }

  &__get-in-touch {
    position: relative;
    height: 127px;
    width: 127px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    color: var(--neutral-color-100);
    cursor: pointer;

    & svg {
      transition: transform 0.5s ease-in-out;
    }

    & svg rect {
      fill: var(--neutral-color-100);
    }

    &:hover svg {
      transition: transform 0.5s ease-in-out;
      transform: rotate(180deg);
    }

    &-text {
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 50%;
      animation: effect 10s linear infinite;

      @keyframes effect {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      span {
        position: absolute;
        left: 50%;
        transform-origin: 0 64px;
        text-transform: capitalize;
      }
    }
  }

  &__swiper {
    margin-top: 135px;
    margin-bottom: 165px;

    @include small-tablet {
      margin-top: 50px;
      margin-bottom: 80px;
    }

    &-wrapper {
      margin-bottom: 80px;
      position: relative;

      .nav-imitation {
        @include nav-imitation(99px, 425px);

        @include mini-desktop {
          display: none;
        }
      }
    }

    &-slide-title {
      font-weight: 600;
      font-size: 32px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: var(--neutral-color-100);

      @include small-tablet {
        font-size: 28px;
      }
    }

    &-slide-text {
      font-weight: 500;
      font-size: 18px;
      line-height: 178%;
      color: #7e8492;
    }

    &-slide-img-3 {
      width: 100%;
      height: 460px;
      object-fit: cover;
      object-position: center;
    }

    &-slide-link {
      display: block;
      background: var(--neutral-color-100);
      padding: 16px 34px;
      border-radius: 100px;
      max-width: 110px;
      max-height: 56px;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--neutral-color-10);
      margin-top: 32px;
    }

    &-pagination {
      margin-bottom: 10px;
    }

    &-scrollbar {
      @include scrollbar-paint;
    }
  }
}
